In [13]:
import numpy as np
import pandas as pd
import datetime

class Problem:
    
    @staticmethod    
    def current_ref_price(df_ref_prices, bond_id, dt_string):
        '''Function that returns the most actual known value of ref_price
        for bond with id=='bond_id' at the given datetime, by looking it up in df_ref_prices
        
        Args:
            df_ref_prices: pandas.DataFrame with columns ['datetime', 'ref_price' and 'bond_id']
                            'datetime': np.datetime[64]
                            'ref_price': np.float64
                            'bond_id': np.int64
            bond_id: int
            dt_string: string (format='%Y-%m-%d %H:%M:%S')
            
        Output:
            ref_price: np.float in case of actual value can be looked up in df_ref_prices
                       np.nan in case (bond_id, datetime) can not be looked up in df_ref_prices
        '''
        try:
            try: 
                my_time = datetime.datetime.strptime(dt_string, "%Y-%m-%d %H:%M")
            except:
                my_time = datetime.datetime.strptime(dt_string, "%Y-%m-%d %H:%M:%S")
            # filter based on bond_id, subtract date and convert to seconds
            df_temp=(df_ref_prices.loc[df_ref_prices['bond_id'] == bond_id, 'datetime'] - my_time).apply(lambda x: x.total_seconds())
            # find index of max timedelta, as long as it's not positive
            max_index = df_temp.where(df_temp <= 0).idxmax()
            result = df_ref_prices.iloc[max_index]['ref_price']
        except:
            result = np.nan
        
        return result

json_string = '{"datetime":{"0":1528953910000,"1":1528954396000,"2":1528960015000,"3":1528964776000,"4":1528971088000,"5":1528972385000,"6":1528973182000,"7":1528978372000,"8":1528981994000,"9":1528991708000},"ref_price":{"0":92.296,"1":97.332,"2":91.355,"3":91.183,"4":98.451,"5":98.621,"6":91.008,"7":100.131,"8":101.109,"9":90.727},"bond_id":{"0":2.0,"1":1.0,"2":2.0,"3":2.0,"4":1.0,"5":1.0,"6":2.0,"7":1.0,"8":1.0,"9":2.0}}'
df_ref_prices = pd.read_json(json_string)

# Following example should return 91.008
print(Problem.current_ref_price(df_ref_prices, 2, '2018-06-14 10:46:22'))

91.008

In [4]:
df_ref_prices

             datetime  ref_price  bond_id
0 2018-06-14 05:25:10     92.296        2
1 2018-06-14 05:33:16     97.332        1
2 2018-06-14 07:06:55     91.355        2
3 2018-06-14 08:26:16     91.183        2
4 2018-06-14 10:11:28     98.451        1
5 2018-06-14 10:33:05     98.621        1
6 2018-06-14 10:46:22     91.008        2
7 2018-06-14 12:12:52    100.131        1
8 2018-06-14 13:13:14    101.109        1
9 2018-06-14 15:55:08     90.727        2